# Client-side Firebase Config
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Server-side Firebase Admin Service Account JSON (as a single line or minified JSON)
FIREBASE_SERVICE_ACCOUNT_JSON=

# Google Gemini API Key
GEMINI_API_KEY=

# Admin Panel Passcode
ADMIN_SECRET_KEY=
